# dependencies
/node_modules

# env files
.env
.env.development

# Essential folders to keep
# First few lines excludes everything inside the assets sub folders
# and the last few lines includes 1 .gitkeep folder each, because
# github doesn't know how to keep an empty folder
/public/assets/menuitem_png/*
/public/assets/profile_png/*
/public/assets/restaurant_png/*
!/public/assets/menuitem_png/.gitkeep
!/public/assets/profile_png/.gitkeep
!/public/assets/restaurant_png/.gitkeep